<div class="p-5 cursor-pointer" [routerLink]="['/details', product.id]">
  <div class="relative group/card overflow-hidden">
    <img [src]="product.imageCover" class="w-full" [alt]="product.title" />
    <div
      class="translate-y-[130%] group-hover/card:translate-y-0 absolute transition-translate duration-300 -translate-x-1/2 left-1/2 bottom-3 flex items-center space-x-8 bg-gray-400 px-8 py-3 rounded"
    >
      <span
        ><i
          (click)="$event.stopPropagation()"
          class="fa-solid fa-magnifying-glass text-white text-2xl cursor-pointer"
        ></i
      ></span>
      <span
        ><i
          (click)="$event.stopPropagation()"
          class="fa-regular fa-heart text-white text-2xl cursor-pointer"
        ></i
      ></span>
      <span
        ><i
          (click)="$event.stopPropagation()"
          (click)="addProductToCart(product._id)"
          class="fas fa-shopping-cart text-white text-2xl cursor-pointer"
        ></i
      ></span>
    </div>
  </div>
  <div class="text-center flex flex-col gap-3">
    <h3 class="text-xl text-gray-500">{{ product.title | term }}</h3>
    <span class="text-[1rem] text-gray-400"> {{ product.category.name }} </span>
    <span class="text-[1rem]"
      ><i class="fas fa-star text-yellow-300"></i> {{ product.ratingsAverage }}
    </span>
    <span class="text-xl text-(--main-color)"> {{ product.price }}$ </span>
  </div>
</div>
