<section class="pt-8">
  <div class="container">
    <div class="grid sm:grid-cols-12 gap-5">
      <div class="col-span-6">
        <div class="relative overflow-hidden">
          <img
            src="/images/hero/banner-1-opt.webp"
            class="w-full rounded shadow-md hover:scale-105 transition-transform duration-300"
            alt=""
          />
          <div class="absolute top-0 lef-0 p-8">
            <span class="text-(--main-color) text-lg">MATTIS LAOREET SAPIEN </span>
            <p class="my-3 capitalize text-[2.5rem]">
              Porta <br />
              Consectetur <br />
              Imperdiet <br />
              Frigilla <br />
            </p>
            <span
              class="text-sm transition-all hover:text-gray-400 underline underline-offset-5 decoration-2 decoration-(--main-color)"
              ><a href="" class="uppercase">read more</a></span
            >
          </div>
        </div>
      </div>
      <div class="col-span-6">
        <div class="mb-5 relative overflow-hidden">
          <img
            src="/images/hero/finaly-banner-handmade-9-opt.webp"
            class="w-full rounded shadow-md hover:scale-105 transition-transform duration-300"
            alt=""
          />
          <div class="absolute top-0 lef-0 p-8">
            <span class="text-(--main-color) text-lg">SEMPER </span>
            <p class="my-3 capitalize text-[1.5rem]">
              Feugiat <br />
              Scelerisque <br />
              Imperdiet <br />
            </p>
            <span
              class="text-sm transition-all hover:text-gray-400 underline underline-offset-5 decoration-2 decoration-(--main-color)"
              ><a href="" class="uppercase">read more</a></span
            >
          </div>
        </div>
        <div class="flex items-center space-x-5">
          <div class="relative overflow-hidden">
            <img
              src="/images/hero/finaly-banner-handmade-7-opt.webp"
              class="w-full rounded shadow-md hover:scale-105 transition-transform duration-300"
              alt=""
            />
            <div class="absolute top-0 lef-0 p-8">
              <span class="text-(--main-color) text-lg">SEMPER </span>
              <p class="my-3 capitalize text-[1.5rem]">
                Adipiscing <br />
                Sodales <br />
              </p>
              <span
                class="text-sm transition-all hover:text-gray-400 underline underline-offset-5 decoration-2 decoration-(--main-color)"
                ><a href="" class="uppercase">read more</a></span
              >
            </div>
          </div>
          <div class="overflow-hidden">
            <img
              src="/images/hero/finaly-banner-handmade-8-opt.webp"
              class="w-full rounded shadow-md hover:scale-105 transition-transform duration-300"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
