<section class="flex flex-col min-h-screen bg-gray-400 py-14">
  <div class="bg-white w-1/2 m-auto p-10 rounded shadow-lg text-center">
    <!-- main Title -->
    <h1 class="text-3xl">Forgot <span class="text-(--main-color)">Password</span></h1>

    <ol
      class="flex items-center justify-center w-full p-3 space-x-2 text-sm font-medium text-center text-body bg-neutral-primary-soft border border-default rounded-base shadow-xs sm:p-4 sm:space-x-4 rtl:space-x-reverse"
    >
      <li [class.text-fg-brand]="step === 1" class="flex items-center text-fg-brand">
        <span
          class="flex items-center justify-center w-5 h-5 me-2 text-xs border rounded-full shrink-0"
        >
          1
        </span>
        Verify <span class="hidden sm:inline-flex ms-2">Email</span>
        <svg
          class="w-5 h-5 ms-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m7 16 4-4-4-4m6 8 4-4-4-4"
          />
        </svg>
      </li>
      <li [class.text-fg-brand]="step === 2" class="flex items-center">
        <span
          class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-body rounded-full shrink-0"
        >
          2
        </span>
        Verify <span class="hidden sm:inline-flex ms-2">Code</span>
        <svg
          class="w-5 h-5 ms-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m7 16 4-4-4-4m6 8 4-4-4-4"
          />
        </svg>
      </li>
      <li [class.text-fg-brand]="step === 3" class="flex items-center">
        <span
          class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-body rounded-full shrink-0"
        >
          3
        </span>
        Reset Password
      </li>
    </ol>

    <!-- Verify Email -->
    @if (step === 1) {
    <form [formGroup]="verifyEmail">
      <!-- Email Input -->
      <app-input
        [control]="verifyEmail.get('email')"
        [inputType]="'email'"
        [inputId]="'email'"
        [labelName]="'Email'"
      />
      <!-- Subbmit Button -->
      <button type="submit" class="btn">
        @if (isLoading === false) {Verify Email}@else {
        <span><i class="fas fa-spinner animate-spin"></i></span>
        }
      </button>
    </form>
    }@else if (step === 2) {
    <!-- Verify Code -->
    <form [formGroup]="verifyCode">
      <!-- Email Input -->
      <app-input
        [control]="verifyCode.get('resetCode')"
        [inputType]="'text'"
        [inputId]="'text'"
        [labelName]="'Rest Code'"
      />
      <!-- Subbmit Button -->
      <button type="submit" class="btn">
        @if (isLoading === false) {Verify Code}@else {
        <span><i class="fas fa-spinner animate-spin"></i></span>
        }
      </button>
    </form>
    }@else if (step === 3) {
    <!-- Reset Password -->
    <form [formGroup]="resetPassword">
      <!-- Email Input -->
      <app-input
        [control]="resetPassword.get('email')"
        [inputType]="'email'"
        [inputId]="'email'"
        [labelName]="'Email'"
      />
      <app-input
        [control]="resetPassword.get('newPassword')"
        [inputType]="'password'"
        [inputId]="'password'"
        [labelName]="'Password'"
        >Password must include uppercase, lowercase, number, special char, and be 8+
        chars</app-input
      >
      <!-- Subbmit Button -->
      <button type="submit" class="btn">
        @if (isLoading === false) {Reset Code}@else {
        <span><i class="fas fa-spinner animate-spin"></i></span>
        }
      </button>
    </form>
    }
  </div>
</section>
