<section class="flex bg flex-col justify-center items-center min-h-screen bg-gray-400 px-4">
  <div class="bg-white w-full sm:w-3/4 md:w-2/3 lg:w-1/2 p-6 sm:p-10 rounded shadow-lg text-center">
    <!-- main Title -->
    <h1 class="text-2xl sm:text-3xl font-bold mb-4">
      Welcome To <span class="text-(--main-color)">Velora</span>
    </h1>

    <span class="text-sm text-red-900 block mb-6">
      ⚠️ Note: This is a demo site for learning purposes. You must log in to try all features. This
      is not a recommended setup for a real e-commerce website.
    </span>

    <form [formGroup]="registerForm" (ngSubmit)="submitForm()" class="space-y-4">
      <!-- Name Input -->
      <app-input
        [control]="registerForm.get('name')"
        [inputType]="'text'"
        [inputId]="'name'"
        [labelName]="'Name'"
      ></app-input>

      <!-- Email Input -->
      <app-input
        [control]="registerForm.get('email')"
        [inputType]="'text'"
        [inputId]="'email'"
        [labelName]="'Email'"
      ></app-input>

      <!-- Password Input -->
      <app-input
        [control]="registerForm.get('password')"
        [inputType]="'password'"
        [inputId]="'password'"
        [labelName]="'Password'"
      >
        Password must include uppercase, lowercase, number, special char, and be 8+ chars
      </app-input>

      <!-- Confirm Password -->
      <app-input
        [control]="registerForm.get('rePassword')"
        [inputType]="'password'"
        [inputId]="'passwordConfirm'"
        [labelName]="'Confirm Password'"
      ></app-input>

      <!-- Phone Input -->
      <app-input
        [control]="registerForm.get('phone')"
        [inputType]="'tel'"
        [inputId]="'phone'"
        [labelName]="'Phone Number'"
      >
        You Should Use Egyptian Phone Number
      </app-input>

      <!-- Submit Button -->
      <button type="submit" class="btn">
        @if (isLoading === false) { Register Now!}@else {
        <span><i class="fas fa-spinner animate-spin"></i></span>
        }
      </button>
    </form>

    <!-- Login -->
    <div class="mt-6 text-sm">
      <h3>
        Already Have an Account?
        <span class="text-blue-700 underline underline-offset-4">
          <a routerLink="/login">Login</a>
        </span>
      </h3>
    </div>
  </div>
</section>
