@if (this.wishList.length > 0) {
<div class="p-5 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
  @for(product of wishList ; track product.id) {
  <div class="bg-white shadow-md rounded-lg overflow-hidden relative group">
    <!-- Remove Button -->
    <button
      (click)="removeFromWishlist(product._id)"
      class="absolute top-2 right-2 bg-white cursor-pointer rounded-full p-2 shadow hover:bg-red-100 transition"
    >
      <i class="fa-solid fa-x text-red-500"></i>
    </button>
    <div [routerLink]="['/details', product._id]" class="cursor-pointer">
      <!-- Product Image -->
      <img [src]="product.imageCover" [alt]="product.title" class="w-full h-48 object-cover" />

      <!-- Product Info -->
      <div class="p-4 flex flex-col gap-2">
        <h3 class="text-lg font-semibold text-gray-700 truncate">{{ product.title }}</h3>
        <span class="text-gray-500"> {{ product.category?.name || 'No Category' }}</span>
        <span class="text-yellow-400">
          <i class="fa-solid fa-star"></i> {{ product.ratingsAverage }}
        </span>
        <span class="text-(--main-color) font-bold text-xl">{{ product.price }}$</span>
      </div>
    </div>
    <button (click)="FromWishListToCart(product._id)" class="btn">Add To Cart</button>
  </div>

  }
</div>
}@else {

<div class="text-center my-10">
  <h2 class="text-2xl font-semibold mb-2">Your WishList is empty</h2>
  <p class="text-sm text-gray-500 mb-4">Add items to your Wishlist and they’ll appear here.</p>
  <div class="flex items-center justify-center gap-3">
    <button
      class="disabled:bg-gray-500 disabled:cursor-not-allowed bg-green-700 text-white border border-green-900 p-1.5 rounded cursor-pointer hover:bg-green-900 transition-all duration-300"
    >
      <a routerLink="/products"> Continue shopping </a>
    </button>
  </div>
</div>
}
