<section
  class="flex flex-col items-center justify-center min-h-screen bg-gray-100 text-gray-800 px-4"
>
  <h1 class="text-[10rem] md:text-[12rem] font-bold text-(--main-color)">404</h1>
  <h2 class="text-3xl md:text-5xl font-semibold mt-4">Page Not Found</h2>
  <p class="text-center text-gray-600 mt-2 max-w-md">
    Oops! The page you are looking for does not exist. It might have been removed or the URL is
    incorrect.
  </p>
  <a
    routerLink="/home"
    class="mt-6 inline-block cursor-pointer bg-(--main-color) text-white px-6 py-3 rounded-lg shadow hover:bg-green-700 transition-colors"
    >Go Back Home</a
  >
</section>
