<section class="py-36 contact-us">
  <div class="text-center mb-10">
    <span class="text-(--main-color) text-lg">Priceless Categories</span>
    <h2 class="uppercase text-4xl my-5">
      HEY YOU, SIGN UP AND <br />
      CONNECT TO WOODMART!
    </h2>
    <div class="flex items-center space-x-5 justify-center">
      <div class="relative">
        <input
          type="text"
          id="floating_outlined"
          class="block px-2.5 py-5 w-100 text-sm text-heading bg-gray-300 rounded-base border border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
          placeholder=" "
        />
        <label
          for="floating_outlined"
          class="inline-flex items-center absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
        >
          <svg
            class="w-4 h-4 me-1.5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-width="2"
              d="m3.5 5.5 7.893 6.036a1 1 0 0 0 1.214 0L20.5 5.5M4 19h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"
            />
          </svg>
          Email
        </label>
      </div>
      <button
        class="cursor-pointer hover:bg-[#669B6B] px-6 py-4 outline-0 border border-gray-400 rounded text-white bg-(--main-color)"
      >
        Contact Us!
      </button>
    </div>
  </div>
  <p class="text-center">Will be used in accordance with our <strong>Privacy Policy</strong></p>
  <div class="flex items-center space-x-10 justify-center mt-4">
    <a href=""
      ><i
        class="fab fa-facebook text-2xl text-gray-400 hover:text-[#1877F2] transition-colors duration-300"
      ></i
    ></a>
    <a href=""
      ><i
        class="fab fa-twitch text-2xl text-gray-400 hover:text-[#772CE8] transition-colors duration-300"
      ></i
    ></a>
    <a href=""
      ><i
        class="fab fa-twitter text-2xl text-gray-400 hover:text-[#1DA1F2] transition-colors duration-300"
      ></i
    ></a>
    <a href=""
      ><i
        class="fab fa-instagram text-2xl text-gray-400 hover:text-[#E1306C] transition-colors duration-300"
      ></i
    ></a>
    <a href=""
      ><i
        class="fab fa-youtube text-2xl text-gray-400 hover:text-[#FF0000] transition-colors duration-300"
      ></i
    ></a>
  </div>
</section>
