<section class="flex flex-col justify-center items-center min-h-screen bg-gray-400 px-4">
  <div class="bg-white w-full sm:w-3/4 md:w-2/3 lg:w-1/2 p-6 sm:p-10 rounded shadow-lg text-center">
    <!-- main Title -->
    <h1 class="text-2xl sm:text-3xl font-bold mb-4">
      Welcome to <span class="text-(--main-color)">Velora</span>
    </h1>

    <span class="text-sm text-red-900 block mb-6">
      ⚠️ Note: This is a demo site for learning purposes. You must log in to try all features. This
      is not a recommended setup for a real e-commerce website.
    </span>

    <form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="space-y-4">
      <!-- Email Input -->
      <app-input
        [control]="loginForm.get('email')"
        [inputType]="'email'"
        [inputId]="'email'"
        [labelName]="'Email'"
      ></app-input>

      <!-- Password Input -->
      <app-input
        [control]="loginForm.get('password')"
        [inputType]="'password'"
        [inputId]="'password'"
        [labelName]="'Password'"
      >
        Password must include uppercase, lowercase, number, special char, and be 8+ chars
      </app-input>

      <!-- Subbmit Button -->
      <button type="submit" class="btn">
        @if (isLoading === false) {Login}@else {
        <span><i class="fas fa-spinner animate-spin"></i></span>
        }
      </button>
    </form>

    <!-- Register / Forgot -->
    <div class="mt-6 flex flex-col sm:flex-row items-center justify-between gap-2 text-sm">
      <h3>
        Don't Have an Account?
        <span class="text-blue-700 underline underline-offset-4">
          <a routerLink="/register">Register Now</a>
        </span>
      </h3>
      <h3>
        <span class="text-blue-700 underline underline-offset-4">
          <a routerLink="/forgotpassword">Forgot Your Password?</a>
        </span>
      </h3>
    </div>
  </div>
</section>
